/*RESET DEFAULTS*/
/***************************************/
html, body, article, section, span, footer, nav{
	margin:0;
	padding:0;
}
/***************************************/




/*BASIC CONAINERS*/
/***************************************/
/*tags*/
html{
	height:550vh;
}
body{
	height:100%;
	width:100%;
}
article{
	width:100%;
	min-height:100vh;
}
section{
	width:100%;
	height:100vh;
	font-size:0px;
}
span{
	display:inline-block;
}
footer{
	height:50vh;
	width:100%;
	bottom:0;
}
/*classes*/
/*ids*/
#about{
	height:300vh;
}
#home, #dates, #merch, #music{
	height:100vh;
}
/***************************************/




/*SPECIAL CSS*/
/***************************************/
/*classes*/
.smallcontainer{
	height:100%;
	width:50%;
}
/*home*/
#logo_text{
	/*... WHY!!!*/
	padding-top:40vh;
	min-height:20em;
}
/*about*/
.pic{
	height:100%;
	width:40%;
	font-size:5em;
}
.about{
	height:100%;
	width:60%;
	font-size:5em;
}
/*dates*/
#calendar{
	width:50%;
	height:100%;
}
#calendarInfo{
	width:50%;
	height:100%;
}
/*merch*/
#shirts{
	height:100%;
	width:50%;
}
#otherthing{
	height:50%;
	width:100%;
}
#anotherthing{
	height:50%;
	width:100%;
}
/*music*/
#musicLogo{
	height:100%;
	width:40%;
}
#musicList{
	height:100%;
	width:60%;
}
/***************************************/


/*NAV*/
#NextPage_div_container{
    margin:0;
    padding:0;
    width:100%;
    height: 50px;
    position:fixed;
}
nav::after{
    width:100%;
    height:100%;
    content:'';
    display:table;
    clear:both;
}
#NextPage_nav_list{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
#NextPage_ul_list{
    margin:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}
#NextPage_ul_list li{
    padding:9px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#NextPage_div_throwshade{
    position:absolute;
    width: 100%;
    height:50px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(92, 89, 124));;
    opacity: 0.5;
}
#NextPage_div_throwshade2{
    position:absolute;
    width: 100%;
    height:50px;
    background: darkslategray;
    opacity: 0.5;
}
._NextPage_div_inside{
    position:absolute;
    width: 20%;
    height:50px;
}
._NextPage_div_inside:hover, ._NextPage_div_inside:focus{
    background: red;
    opacity:0.3;
}