/*#region NOTES
    DOMINANT COLOURS:
        Dark Reddish Brown
        #823e0c
        rgba(130,62,12,1)

        Silver
        #c5c8c9
        rgba(197,200,201,1)

        Dark Grey Blue
        #274252
        rgba(39,66,82,1)

        Light Blue	
        #7496ad	
        rgba(116,150,173,1)

        Lighter Reddish Brown
        #ab5314
        rgba(171,83,20,1)
#endregion*/

/*#region RESET DEFAULTS*/
/***************************************/
html, body, article, section, span, footer, nav, ul, li{
	margin:0;
	padding:0;
}
/*
    left: 50%;
    transform: translateX(-50%);
*/
/*#endregion****************************/

/*#region BASIC CONAINERS*/
/***************************************/
/*tags*/
html{
    height:550vh;
    width:100%;
    box-sizing:border-box;
    z-index:1;
    font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after{
    /*for the box model fix*/
    box-sizing: inherit;
}
body{
	height:100%;
    width:100%;
    z-index:2;
    background-color:rgba(0,0,0,.7);
}
article{
	width:100%;
    min-height:100vh;
    z-index:3;
    /* AFTER ALL IMAGES ADDED, UNCOMMENT THIS SHIT
        background-color:black;
    */
}
section{
	width:100%;
    font-size:0px;
    z-index: 4;
    height:100%;
}
span{
    display:inline-block;
}
footer{
	height:50vh;
	width:100%;
    bottom:0;
    z-index:5;
}
/*classes and id's*/
#home, #contact, #merch, #music, #home_photo{
    height:100vh;
    width:100%;
}#merch section, #music section #contact section{
    height:100vh;
    width:100%;
}
/*#endregion****************************/

/*#region CUSTOM CSS*/
/***************************************/
/*#region home*/
#logo_text{
	/*... WHY!!!*/
	padding-top:40vh;
	min-height:20em;
}
#home{
    background-color: rgba(157,75,16,1);
    background-image: url("N2R_Pics/wide_main_no.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home_photo{
    background-image: url("N2R_Pics/n2rlogo.png");
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:auto;
}
#home_text{
    background-image: url("N2R_Pics/n2rtext.png");
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-size: 100% 100%;
    opacity:.7;
}
@media only screen and (min-width:750px){
    #home_photo{
        top:5%;
        height:35vw;
        width:35vw;
        max-width:400px;
        max-height:400px;
        min-width:325px;
        min-height:325px;
    }
    #home_text{
        bottom:15%;
        width:80vw;
        height:4.5vw;
        max-width:925px;
        max-height:52px;
        min-width:600px;
        min-height:34px;
    }
    #RobPic{
        float:right;
    }
    #RobAbout{
        float:left;
    }
}
@media only screen and (max-width:749px) and (min-width:641px){
    #home_photo{
        top:5%;
        height:300px;
        width:300px;
    }
    #home_text{
        bottom:15%;
        width:80vw;
        height:4.5vw;
        min-width:600px;
        min-height:34px;
    }
    #RobPic{
        float:right;
    }
    #RobAbout{
        float:left;
    }
}
@media only screen and (max-width:640px){
    #home_photo{
        top:5%;
        height:300px;
        width:300px;
    }
    #home_text{
        bottom:15%;
        width:80vw;
        height:4.5vw;
    }
    #RobPic{
        float:left;
    }
    #RobAbout{
        float:right;
    }
}
/*#endregion*/
/*#region about*/
.pic{
    background-color:black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    font-size:0px;
    background-color:#283902;
    position:relative;
    padding:2%;
    opacity:.9;
    /*
        why did this work here... before the fucking thing
        went on and 
    */
    overflow:hidden;
}
#bandAbout{
    position: relative;
    background-image: url("N2R_Pics/bandAbout.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bandAbout{
    height:100vh;
}
.aboutText{
    height: 100%;
    width: 100%;
    z-index: 500;
    color: #274252;
    /*background-color:rgba(116,150,173,1);*/
    background-color:rgba(116,150,173,.9);
}
#AboutBody{
    /*
        difference between absolute and relative is that 
        absolute would make it so that the div is at the top, but
        then pushed up 5%, but absolute makes it so that the div
        is pushed down to the bottom like I told it to and then
        pushed up 5%. Also, the position needs to be anything other 
        than static or default in order for this to work, I don't 
        know why...
    */
    position: absolute;
    min-height:100px;
    width:80%;
    bottom:7%;
    left:50%;
    transform: translateX(-50%);
    text-align:center;
    background-color:rgba(197,200,201,.7);
}
#AboutBodyText{
    font-size:20px;
    color:rgba(39,66,82,1);
}
.aboutPiece{
    width:100%;
    font-size:0px;
    overflow:hidden;
}
#MarkPic{
    background-image:url("N2R_Pics/Marks_Personal.jpg");
}
#RobPic{
    background-image:url("N2R_Pics/Robs_Personal.jpg");
}
#StevePic{
    background-image:url("N2R_Pics/Steves_Personal.jpg");
}
@media only screen and (min-width:751px){
    #bandAbout{ background-image: url("N2R_Pics/bandAbout.jpg"); }
    .pic{
        height:100%;
        width:50%;
    }
    .about{
        height:100%;
        width:50%;
    }
    #Rob{
        float:right;
    }
    .aboutText{
        font-size:18px;
        padding:10px;
    }
    .aboutPiece{
        height:80vh;
    }
}
@media only screen and (max-width:750px){
    #bandAbout{ background-image: url("N2R_Pics/bandAbout_mobile.jpg"); }
    .pic{
        height:70%;
        width:100%;
    }
    .about{
        height:30%;
        width:100%;
    }
    .aboutText{
        font-size:14px;
    }
    .aboutPiece{
        height:100vh;
    }
}
/*#endregion*/
/*#region contact*/
#contact{
    position:relative;
    background-color:rgba(171,83,20,.7);
}
#con{
    font-size:0;
    width:380px;
    height:95px;
    border-radius:75px;
    overflow:hidden;
    background-color: rgba(197,200,201,1);
    position:absolute;
    bottom:75px;
}
.socailMedia{
    height:75px;
    width:75px;
    margin:10px;
}
.socailMediaLink{
    height:75px !important;
    width:75px !important;
}
@media only screen and (min-width:751px){
    #con{
        right:10%;
    }
}
@media only screen and (max-width:750px){
    #con{
        left:50%;
        transform:translateX(-50%);
    }
}
/*#endregion*/
/*#region merch*/
#merch{
    font-size:0px;
    overflow:hidden;
}
#otherthing{
    font-size:40px;
    padding:20px;
    text-align:center;
}
#anotherthing{

}

@media only screen and (min-width:751px){
    #shirts{
        background-color:orange;
        background-image:url("N2R_Pics/tshirt.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:100%;
        width:100%;
    }
    #shirtsParent{
        position:relative;
        height:100%;
        width:70%;
    }
    .smallcontainer{
        height:100%;
        width:30%;
    }
    #otherthing{
        background-color:blue;
        opacity:.5;
        height:50%;
        width:100%;
    }
    #anotherthing{
        background-color:purple;
        opacity:.5;
        height:50%;
        width:100%;
    }
}
@media only screen and (max-width:750px){
    #shirts{
        background-color:orange;
        background-image:url("N2R_Pics/tshirt.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:100%;
        width:100%;
        max-width:500px;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #shirtsParent{
        position:relative;
        height:70%;
        width:100%;
    }
    /*#shirts{
        height:70%;
        width:100%;
        left: 50%;
        transform: translateX(-50%);
    }/**/
    .smallcontainer{
        height:60%;
        width:100%;
    }
    #otherthing{
        background-color:blue;
        opacity:.5;
    
        height:50%;
        width:100%;
    }
    #anotherthing{
        
        background-color:purple;
        opacity:.5;
        
        height:50%;
        width:100%;
    }
}
/*#endregion*/
/*#endregion****************************/

/*#region NAV*/
/***************************************/
#nav_container::after{
    content:'';
    display:table;
    clear:both;
    z-index:100;
}
#nav_container{
    position:absolute;
    float:right;
    height:150px;
    width:100vw;
    border-radius: 75px 0 0 75px;
    overflow:hidden;
}
#nav{
    height:50px;
    width:100%;
    font-size:0px;
    overflow:hidden;
    background-color: rgba(197,200,201, .9);
}
ul.ul_list{
    float:right;
    height:100%;
}
li.li_item{
    font-size:25px;
    right:0px;
    float: right;
    width:20%;
    height:50px;
    text-align:center;
    padding-top:10px;
    list-style:none;
}
li.li_item:hover, li.li_item_hidden:hover{
    background-color: rgb(39,66,82);
    opacity:1;
    cursor:pointer;
    color: #c5c8c9;
}
#topFader{
    position: relative;
    background-image:linear-gradient(to bottom, rgba(39,66,82,0), rgba(39,66,82,.7));
}
#botFader{
    position: relative;
    background-image:linear-gradient(to top,  rgba(39,66,82,0), rgba(39,66,82,.7));
}
.fader{
    height:50px;
    z-index:100;
}
#paddingBar{
    position: relative;
    opacity:0;
    height:50px;
}
#logoButton{
    height:150px;
    width:150px;
    border-radius: 50%;
    background-color: black;
    position:absolute;
    z-index:200;
}
/*#endregion****************************/

/*#region SIDE BAR*/
/***************************************/
#sidemenu{
    position:fixed;
    display:none;
    width:200px;
    height:150px;
    z-index:1001;
}
.li_item_hidden{
    height:50px;
    width:100%;
    text-align:center;
    padding-top:10px;
    list-style:none;
    color:rgba(39,66,82,1);
    background-color: rgba(197,200,201,1);
}
.li_item_hidden:hover{
    background-color:rgba(39,66,82,1);
    color: rgba(197,200,201,1);
}
/*#endregion****************************/

/*#region VIEW*/
/***************************************/
#view{
    position:fixed;
    z-index:1000;
}
/*#endregion****************************/

/*#region DOWN ARROWS*/
/***************************************/
.downArrows{
    width:150px;
    height:75px;
    position:absolute;
    bottom:24%;
    opacity:.7;
    border-radius: 50%;
    border:2px solid transparent !important;
    z-index:1000;
    left: 50%;
    transform: translateX(-50%);
}
.downArrows:hover {
    border-radius: 50%;
    border:2px solid grey !important;
    animation: swell 1s infinite;
}
.downArrow{
    content:url("N2R_Pics/down_arrow.png");
    width:100px;
    position:relative;
    height:15px;
    left: 50%;
    transform: translateX(-50%);
    top:15%;
    margin:0;
    padding:0;
}
#leftDownArrows{
    float:left;
    left:20%;
}
#rightDownArrows{
    float:right;
    right:20%;
}

/*animations*/
.topDownArrow{
    animation: topDownArrowFade 1s infinite !important;
}
.midDownArrow{
    animation: midDownArrowFade 1s infinite !important;
}
.botDownArrow{
    animation: botDownArrowFade 1s infinite !important;
}

@keyframes topDownArrowFade{
    0%{ opacity:.7; }
    50%{ opacity:.2; }
    100%{ opacity:.7; }
}
@keyframes midDownArrowFade{
    0%{ opacity:.45; }
    25%{ opacity:.7; }
    50%{ opacity:.45; }
    75%{ opacity:.2; }
    100%{ opacity:.45; }
}
@keyframes botDownArrowFade{
    0%{ opacity:.2; }
    50%{ opacity:.7; }
    100%{ opacity:.2; }
}

.tooltip{
    position:absolute;
    text-align:center;
    border-radius:2px;
    z-index:1001;
    margin-right:-50%;
}
@keyframes swell{
    0%{ box-shadow: 0 0 5px darkgrey;}
    50%{ box-shadow: 0 0 20px darkgrey;}
    100%{ box-shadow: 0 0 5px darkgrey;}
}

@keyframes mymove {
    50% {box-shadow: 0 0 30px blue;}
  }

/*#endregion****************************/

/*#region MOBILE*/
/***************************************/
/*#endregion****************************/

/*#region ARROWS ANIMATION*/
/***************************************/
/*#endregion****************************/