/*
///HERE///
    mobile setup: set it so that everything
    will go from in a row to on top of each other. Add animations
    for the nav bar to smoosh into a circle, spin it, and then send
    it to the top corner once we hit the max level of skinny here
*/


/*RESET DEFAULTS*/
/***************************************/
html, body, article, section, span, footer, nav, ul, li{
	margin:0;
	padding:0;
}
/***************************************/


/*BASIC CONAINERS*/
/***************************************/
/*tags*/
html{
    height:550vh;
    box-sizing:border-box;
    z-index:1;
}
*, *:before, *:after{
    /*for the box model fix*/
    box-sizing: inherit;
}
body{
	height:100%;
    width:100%;
    z-index:2;
}
article{
	width:100%;
    min-height:100vh;
    z-index:3;
}
section{
	width:100%;
	height:100vh;
    font-size:0px;
    z-index: 4;
}
span{
    display:inline-block;
    
}
footer{
	height:50vh;
	width:100%;
    bottom:0;
    z-index:5;
}
/*classes*/
/*ids*/
#about{
	height:300vh;
}
#home, #dates, #merch, #music{
	height:100vh;
}
/***************************************/


/*SPECIAL CSS*/
/***************************************/
/*classes*/
.smallcontainer{
	height:100%;
	width:50%;
}
/*home*/
#logo_text{
	/*... WHY!!!*/
	padding-top:40vh;
	min-height:20em;
}
/*about*/
.pic{

    background-color:black;
    opacity:.5;

	height:100%;
	width:40%;
	font-size:5em;
}
.about{

    background-color:yellow;
    opacity:.5;

	height:100%;
	width:60%;
	font-size:5em;
}
/*dates*/
#calendar{

    background-color:red;
    opacity:.5;

	width:50%;
	height:100%;
}
#calendarInfo{
    
    background-color:green;
    opacity:.5;

	width:50%;
	height:100%;
}
/*merch*/
#shirts{
    
    background-color:orange;
    opacity:.5;
    
	height:100%;
	width:50%;
}
#otherthing{
    background-color:blue;
    opacity:.5;

	height:50%;
	width:100%;
}
#anotherthing{
    
    background-color:purple;
    opacity:.5;
    
	height:50%;
	width:100%;
}
/*music*/
#musicLogo{
    
    background-color:magenta;
    opacity:.5;
    
	height:100%;
	width:40%;
}
#musicList{
    
    background-color:greenyellow;
    opacity:.5;
    
	height:100%;
	width:60%;
}
/***************************************/


/*NAV*/
/***************************************/
.nav_container::after{
    content:'';
    display:table;
    clear:both;
    z-index:100;
}
#nav{
    background:grey;
    height:50px;
    width:100%;
    font-size:0px;
}
#nav_container{
    display:block;
    height:50px;
    width:100%;
}
ul.ul_list{
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;
    height:100%;
}
li.li_item{
    font-size:35px;
    text-decoration: none;
    display:inline-block;
    margin:0;
    width:20%;
    height:100%;
    text-align:center;
    padding-top:4px;
}
.nav_inside{
    position:absolute;
    opacity:.3;
    display:inline-block;
    width:20%;
    height:50px;
    background-color:yellow;
}
.nav_inside:hover{
    background-color: brown;
    opacity: 1;
}
/***************************************/


/*TESTING*/
/*
#home{
    background-color:black;
}
#about{
    background-color:yellow;
}
#merch{
    background-color:red;
}
#music{
    background-color:green;
}
#dates{
    background-color:blue;
}
*/